
<div class="pos__search">
    <input class="pos__input" type="text" placeholder="Type a sentence here!">
    <button class="pos__btn">Highlight</button>
</div>

<ul class="pos__list"></ul>


<ul class="pos__legend">
    <li class="pos__legend-item pos__legend-item--adj" data-pos="ADJ">Adjective</li>
    <li class="pos__legend-item pos__legend-item--adv" data-pos="ADV">Adverb</li>
    <li class="pos__legend-item pos__legend-item--adp" data-pos="ADP">Adposition</li>
    <li class="pos__legend-item pos__legend-item--conj" data-pos="CONJ">Conjuction</li>
    <li class="pos__legend-item pos__legend-item--det" data-pos="DET">determiner</li>
    <li class="pos__legend-item pos__legend-item--noun" data-pos="NOUN">Noun</li>
    <li class="pos__legend-item pos__legend-item--num" data-pos="NUM">Number</li>
    <li class="pos__legend-item pos__legend-item--pron" data-pos="PRON">Pronoun</li>
    <li class="pos__legend-item pos__legend-item--prt" data-pos="PRT">Particle</li>
    <li class="pos__legend-item pos__legend-item--verb" data-pos="VERB">Verb</li>
    <li class="pos__legend-item pos__legend-item--punct" data-pos="PUNCT">Punctuation</li>
</ul>
