
<div class="pos__search">
    <input class="pos__input" type="text" placeholder="Type a sentence here!">
    <button class="pos__btn">Highlight</button>
</div>

<ul class="pos__list"></ul>


<ul class="pos__legend">
    <li class="pos__legend-item pos__legend-item--adjective" data-pos="adjective">Adjective</li>
    <li class="pos__legend-item pos__legend-item--adverb" data-pos="adverb">Adverb</li>
    <li class="pos__legend-item pos__legend-item--noun" data-pos="noun">Noun</li>
    <li class="pos__legend-item pos__legend-item--verb" data-pos="verb">Verb</li>
    <li class="pos__legend-item pos__legend-item--glue" data-pos="glue">Glue</li>
</ul>
