
<div class="pos__search">
    <input class="pos__input" type="text" placeholder="Type a sentence here!">
    <button class="pos__btn">Highlight</button>
</div>

<ul class="pos__list"></ul>


<ul class="pos__legend">
    <li class="pos__legend-item pos__legend-item--adjective" data-pos="ADJ">Adjective</li>
    <li class="pos__legend-item pos__legend-item--adverb" data-pos="ADV">Adverb</li>
    <!-- <li class="pos__legend&#45;item pos__legend&#45;item&#45;&#45;adp" data&#45;pos="ADP">Adposition</li> -->
    <!-- <li class="pos__legend&#45;item pos__legend&#45;item&#45;&#45;conj" data&#45;pos="CONJ">Conjuction</li> -->
    <!-- <li class="pos__legend&#45;item pos__legend&#45;item&#45;&#45;det" data&#45;pos="DET">determiner</li> -->
    <li class="pos__legend-item pos__legend-item--noun" data-pos="NOUN">Noun</li>
    <!-- <li class="pos__legend&#45;item pos__legend&#45;item&#45;&#45;num" data&#45;pos="NUM">Number</li> -->
    <!-- <li class="pos__legend&#45;item pos__legend&#45;item&#45;&#45;pron" data&#45;pos="PRON">Pronoun</li> -->
    <!-- <li class="pos__legend&#45;item pos__legend&#45;item&#45;&#45;prt" data&#45;pos="PRT">Particle</li> -->
    <li class="pos__legend-item pos__legend-item--verb" data-pos="VERB">Verb</li>
    <!-- <li class="pos__legend&#45;item pos__legend&#45;item&#45;&#45;punct" data&#45;pos="PUNCT">Punctuation</li> -->
    <li class="pos__legend-item pos__legend-item--glue" data-pos="GLUE">Glue</li>
</ul>
